@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Open sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

button {
  background-color: transparent;
}

p,
li,
figcaption {
  text-wrap: pretty;
}

:root {
  --black: #000;
  --white: #fff;
  --brand: #ff5744;
  --admin: #2271b1;
  --nav: #aaa39d;
  --title1: #343434;
  --text: #4e4d4d;
  --bg-w: #f2f0ec;
  --bg-b: #030303;
  --bg-admin: #f0f0f1;
  --footer: #222;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--title1);
}

.text {
  color: var(--text);
}

.sc-padding {
  padding: 3rem 1rem 0;
}
@media only screen and (min-width: 768px) {
  .sc-padding {
    padding: 4rem 2rem 0;
  }
}
@media only screen and (min-width: 1060px) {
  .sc-padding {
    padding: 5rem 3rem 0;
  }
}

.sc-padding-b {
  padding: 3rem 1rem 2.5rem;
}
@media only screen and (min-width: 768px) {
  .sc-padding-b {
    padding: 4rem 2rem 3.5rem;
  }
}
@media only screen and (min-width: 1060px) {
  .sc-padding-b {
    padding: 5rem 3rem 4.5rem;
  }
}

.header {
  width: 100%;
  background-color: var(--black);
}
.header__container {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1.25rem 1rem;
}
.header__logo {
  color: var(--white);
  font-size: 2.25rem;
  text-transform: uppercase;
}
.header__nav {
  color: var(--nav);
}
.header__nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
}
.header__nav ul :hover {
  color: var(--brand);
}

.footer {
  background-color: var(--footer);
  padding: 1rem 1rem 0.5rem;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 2rem 2rem 1rem;
  }
}
@media only screen and (min-width: 1060px) {
  .footer {
    padding: 3rem 3rem 2rem;
  }
}
.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--nav);
}
.footer__item {
  color: var(--white);
  padding-bottom: 2rem;
}
.footer__item h3 {
  border-left: 3px solid var(--brand);
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
.footer__credits {
  text-align: center;
  padding-top: 2rem;
  color: var(--text);
}

.btn {
  position: relative;
  background-color: var(--brand);
  color: var(--white);
  border-radius: 4px;
  font-weight: 600;
  padding: 0.75rem 1.75rem;
  display: inline-block;
  cursor: pointer;
}
.btn:hover {
  background-color: #ff402a;
}

.btn-blue {
  color: var(--white);
  background-color: var(--admin);
}
.btn-blue:hover {
  color: var(--admin);
  background-color: transparent;
}

.btn-sec {
  position: relative;
  background-color: var(--white);
  color: var(--title1);
  border-radius: 4px;
  font-weight: 600;
  padding: 0.75rem 1.75rem;
  display: inline-block;
  cursor: pointer;
}
.btn-sec:hover {
  background-color: var(--brand);
  color: var(--white);
}

.btn-active {
  background-color: var(--brand);
  color: var(--white);
}

.hero {
  position: relative;
  display: block;
  width: 100%;
  height: 72dvh;
  overflow: hidden;
}
.hero__slides {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  background-size: cover;
  background-position: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.5s ease-in-out, visibility 0s 1.5s;
  display: flex;
  align-items: center;
}
.hero__slide--active {
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transition: opacity 1.5s ease-in-out, visibility 0s 0s;
}
@media only screen and (min-width: 768px) {
  .hero__slide {
    padding: 0 2rem;
  }
}
@media only screen and (min-width: 1060px) {
  .hero__slide {
    padding: 0 3rem;
  }
}
.hero__content {
  width: 1200px;
  margin: 0 auto;
  z-index: 3;
}
.hero__title {
  color: var(--brand);
  font-size: 3rem;
  margin-bottom: 1rem;
}

.categories {
  background-color: var(--bg-w);
}
.categories__container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
@media only screen and (min-width: 768px) {
  .categories__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1060px) {
  .categories__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
.categories__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
}
.categories__item:hover {
  border: 2px solid var(--brand);
}
.categories__image {
  flex: 1 1 70%;
}
.categories__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.categories__text {
  padding: 1rem 0;
  text-align: center;
}
.categories__text h3 {
  color: var(--title1);
  font-weight: 500;
}
.categories__text h4 {
  color: var(--brand);
  font-weight: 500;
}

.about {
  background-color: var(--bg-w);
}
.about__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about__image {
  margin-bottom: 1rem;
}
.about__image img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__content h2 {
  margin-bottom: 1rem;
}
.about__content p {
  margin-bottom: 1rem;
}

.products {
  background-color: var(--bg-w);
}
.products__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.products__gallery {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
@media only screen and (min-width: 768px) {
  .products__gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1060px) {
  .products__gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
.products__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
}
.products__card:hover {
  border: 2px solid var(--brand);
}
.products__card--hide {
  display: none;
}
.products__image {
  flex: 1 1 70%;
}
.products__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products__text {
  padding: 1rem 0;
  text-align: center;
}
.products__text h3 {
  color: var(--title1);
  font-weight: 500;
}
.products__text h4 {
  color: var(--brand);
  font-weight: 500;
}
.products__pagination {
  text-align: center;
  margin-top: 1.25rem;
}
.products__pag-buttons {
  margin: 0 0.25rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}
.products__pag-buttons--active {
  background-color: #333;
  color: #fff;
}
.products__pag-buttons:hover {
  background-color: #555;
  color: #fff;
}

.category {
  background-color: var(--bg-w);
}
.category__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.category__nav {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.category__nav a {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  border: none;
}

.support-hero {
  position: relative;
  background-position: center;
  background-size: cover;
  font-size: 2rem;
  color: var(--white);
  width: 100%;
  height: 46dvh;
  display: flex;
  justify-content: center;
  align-items: end;
}
.support-hero__title {
  position: relative;
  z-index: 10;
}
.support-hero__title h2 {
  position: relative;
  z-index: 10;
}
.support-hero__title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brand);
  opacity: 0.5;
}

.support-form {
  background-color: var(--bg-w);
}
.support-form__container {
  max-width: 1200px;
  margin: 0 auto;
}
.support-form__wrapper {
  max-width: 620px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.support-form__wrapper h3 {
  position: relative;
  color: #525252;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 3.5rem;
}
.support-form__wrapper h3::after {
  content: "";
  position: absolute;
  bottom: calc(0% - 20px);
  right: calc(50% - 40px);
  width: 80px;
  border-top: 2px solid var(--brand);
}
.support-form__wrapper h4 {
  color: #242321;
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.support-form__heading-span {
  color: #4e4d4d;
  margin-bottom: 1.5rem;
}
.support-form__heading-span a {
  color: var(--brand);
  text-decoration: underline;
}
.support-form__heading-span a:hover {
  text-decoration: none;
}
.support-form__form {
  width: 100%;
}
.support-form__form div {
  display: flex;
  flex-direction: column;
}
.support-form__form div label {
  color: #242321;
  font-weight: 700;
  margin: 1.25rem 0 0.5rem;
}
.support-form__form div label span {
  color: var(--brand);
}
.support-form__form div input,
.support-form__form div select,
.support-form__form div textarea {
  border: none;
  font-size: 1rem;
  padding: 2px;
  color: var(--title1);
  margin-bottom: 0.5rem;
}
.support-form__form div span {
  font-size: 0.75rem;
  color: var(--text);
}
.support-form__submit {
  margin: 1.5rem 0 3rem;
  border: none;
}

.product-hero {
  display: block;
  width: 100%;
  height: 72dvh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.product-hero__content {
  width: 1200px;
  margin: 0 auto;
}
.product-hero__stock {
  text-transform: uppercase;
  color: var(--white);
  background-color: #008001;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}
.product-hero__stock--empty {
  background-color: #a7584b;
}
.product-hero__title {
  color: var(--brand);
  font-size: 3rem;
  margin: 1rem 0;
}
.product-hero__link {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
}

.icon {
  width: 200px;
  font-size: 5rem;
  color: red;
  background-color: red;
}

.product-description {
  background-color: var(--white);
}
.product-description__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.product-description__title {
  text-align: center;
}
.product-description__title strong {
  color: var(--brand);
}
.product-description__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.product-description__item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}
.product-description__item--reverse {
  flex-direction: row-reverse;
}
.product-description__text {
  flex: 1;
}
.product-description__text h3 {
  font-size: 1.75rem;
  color: var(--title1);
  margin-bottom: 1.5rem;
}
.product-description__text ol li {
  list-style: unset;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
.product-description__text span {
  color: var(--brand);
}
.product-description__text p {
  margin-bottom: 1rem;
}
.product-description__image {
  flex: 1;
}
.product-description__image img {
  width: 100%;
  object-fit: cover;
}

.product-cta {
  background-color: var(--white);
}
.product-cta__container {
  background-color: var(--bg-w);
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 2.5rem;
  border-radius: 4px;
}
.product-cta__action h2 {
  margin-bottom: 1rem;
}
.product-cta__action span {
  color: var(--brand);
}
.product-cta__description {
  color: var(--title1);
}
.product-cta__description h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.product-cta__description ol li {
  list-style: unset;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
.product-cta__icons {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.product-cta__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.product-cta__icon i {
  font-size: 4rem;
  color: var(--brand);
}
.product-cta__icon span {
  color: var(--brand);
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.empty {
  background-color: var(--bg-w);
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid black;
}
.empty p {
  font-size: 1.5rem;
  color: var(--brand);
  margin-bottom: 2rem;
}
.empty a {
  font-size: 1.25rem;
}

.cart {
  background-color: var(--bg-w);
}
.cart__container {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
}
.cart table {
  background-color: var(--white);
  width: clamp(300px, 100%, 900px);
  margin: 0 auto;
  border: 1px solid black;
}
.cart__tr-head th {
  padding: 0.5rem;
  color: #6d6d6d;
  text-align: left;
  font-size: 1.25rem;
  font-weight: 400;
  border-bottom: 1px solid #c1beb9;
}
.cart__tr-item td {
  color: #333;
  padding: 0.5rem;
  font-size: 1.25rem;
  border-bottom: 1px solid #c1beb9;
}
.cart__tr-item td:nth-child(4) {
  font-weight: 600;
}
.cart__tr-item td:nth-child(5) {
  color: var(--brand);
}
.cart__tr-buttons td {
  text-align: right;
  padding: 0.5rem;
}
.cart__tr-buttons td span {
  padding: 0.5rem;
}
.cart__tr-buttons td span input {
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
}
.cart__checkout {
  margin: 2rem auto 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.checkout {
  background-color: var(--bg-w);
  font-family: "Oswald", sans-serif;
}
.checkout__content {
  max-width: 1200px;
  margin: 0 auto 4rem;
  display: flex;
  justify-content: space-evenly;
}
.checkout__details {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}
.checkout__details h3 {
  color: #242321;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
}
.checkout__details label {
  margin-bottom: 1rem;
}
.checkout__details input,
.checkout__details select {
  font-size: 1rem;
  padding: 0.25rem;
}
.checkout__order {
  border-left: 1px solid #c1beb9;
  padding: 1rem;
  font-size: 1.5rem;
}
.checkout__order h3 {
  color: #242321;
  font-weight: 400;
  margin-bottom: 1.25rem;
}
.checkout__order table {
  background-color: var(--white);
  border: 2px solid #c1beb9;
}
.checkout__order table thead th {
  border-bottom: 1px solid #c1beb9;
  padding: 1rem;
  color: #6d6d6d;
}
.checkout__order table tbody td {
  border-bottom: 1px solid #c1beb9;
  padding: 1rem;
  color: #6d6d6d;
}
.checkout__order table tbody td:nth-child(1) {
  color: var(--black);
}
.checkout__order table tfoot {
  color: var(--brand);
}
.checkout__order table tfoot th,
.checkout__order table tfoot td {
  padding: 1rem;
}
.checkout__submit {
  display: flex;
  margin: 0 auto;
  font-size: 1.5rem;
  border: none;
}

.admin-login {
  background-color: var(--bg-admin);
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.admin-login h2 {
  margin-bottom: 1rem;
}
.admin-login__form {
  color: var(--title1);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  border: 1px solid #c1beb9;
  padding: 1.5rem;
}
.admin-login__form label {
  margin-bottom: 0.25rem;
}
.admin-login__form input {
  margin-bottom: 0.5rem;
  padding: 0.25rem;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 20%;
  height: 100dvh;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 80%;
  border-left: none;
  height: 100dvh;
}

/*# sourceMappingURL=main.css.map */
