@use '../../abstracts' as *;

.order-details {
	margin-bottom: 4rem;

	&__title {
		margin-bottom: 2rem;
	}

	&__container {
		background-color: var(--bg-w);
		display: flex;
		justify-content: space-between;

		h3 {
			font-size: 1.75rem;
			margin-bottom: 2rem;
			color: var(--title1);
		}

		dt {
			font-family: 'Oswald', sans-serif;
			font-size: 1.25rem;
			font-weight: 600;
			color: var(--title1);
		}

		dd {
			margin-bottom: 0.5rem;
			color: var(--text);
		}

		table {
			margin-bottom: 1rem;
			thead {
				tr {
					color: var(--title1);
					font-family: 'Oswald', sans-serif;
					font-size: 1.25rem;

					th {
						padding: 0.25rem 0.5rem;
					}
				}
			}

			tbody {
				tr {
					color: var(--text);
					text-align: left;

					td {
						padding: 0.25rem 0.5rem;
						color: var(--text);

						&:nth-child(5) {
							font-size: 0.75rem;

							a {
								&:nth-child(1) {
									margin-right: 0.5rem;
								}
							}
						}
					}
				}
			}
		}

		table,
		th,
		td {
			border: 1px solid var(--nav);
			border-collapse: collapse;
		}

		p {
			font-family: 'Oswald', sans-serif;
			font-size: 1.25rem;
		}
	}
}
