@use '../../abstrats' as *;

.checkout {
	background-color: var(--bg-w);
	font-family: 'Oswald', sans-serif;

	&__content {
		max-width: 1200px;
		margin: 0 auto 4rem;
		display: flex;
		justify-content: space-evenly;
	}

	&__details {
		display: flex;
		padding: 1rem;
		flex-direction: column;

		h3 {
			color: #242321;
			font-size: 1.25rem;
			font-weight: 400;
			margin-bottom: 1.25rem;
		}

		label {
			margin-bottom: 1rem;
		}

		input,
		select {
			font-size: 1rem;
			padding: 0.25rem;
		}
	}

	&__order {
		border-left: 1px solid #c1beb9;
		padding: 1rem;
		font-size: 1.5rem;

		h3 {
			color: #242321;

			font-weight: 400;
			margin-bottom: 1.25rem;
		}

		table {
			background-color: var(--white);
			border: 2px solid #c1beb9;

			thead {
				th {
					border-bottom: 1px solid #c1beb9;
					padding: 1rem;
					color: #6d6d6d;
				}
			}

			tbody {
				td {
					border-bottom: 1px solid #c1beb9;
					padding: 1rem;
					color: #6d6d6d;
				}

				td:nth-child(1) {
					color: var(--black);
				}
			}

			tfoot {
				color: var(--brand);

				th,
				td {
					padding: 1rem;
				}
			}
		}
	}

	&__submit {
		display: flex;
		margin: 0 auto;
		font-size: 1.5rem;
		border: none;
	}
}
