:root {
	--black: #000;
	--white: #fff;
	--brand: #ff5744;
	--admin: #2271b1;
	--nav: #aaa39d;
	--title1: #343434;
	--text: #4e4d4d;
	--bg-w: #f2f0ec;
	--bg-b: #030303;
	--bg-admin: #f0f0f1;
	--footer: #222;
}
